body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pink-script {
  font-family: 'Vladimir Script', cursive;
  font-size: 1.8rem;
  color: hotpink !important;
}

.nav-link:hover {
  color: deeppink !important;
}

header {
  padding: 2rem 1rem;
  background: linear-gradient(to right, #ffe6f0, #ffe6fa);
  border-radius: 1rem;
  text-align: center;
}

footer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}